.inFQ_btnCancel,.inFQ_btnSubmit{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    align-items: center !important;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
    width: 75px;
    transition: 0.4s;
    cursor: pointer;
}
.inFQ_btnSubmit{
    background-color: #d9363e;
    color: white;
}
.inFQ_btnCancel{
    background-color: #d9d9d9;
    transition: 0.4s;
}
.inFQ_btnCancel:hover,.inFQ_btnSubmit:hover{
    background-color: #096dd9;
    transition: 0.4s;
}
.SelectMutilple_question,.select_correct_answer{
    width: 150px !important;
}